body {
    background-color: #fffbef;
    font-family: "Roboto",sans-serif;
}

a{
    color: #56d5e4;
}

.weather-app {
    background: whitesmoke;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
}
header{
    border-bottom: 1px solid #fffbef;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #fffbef;
    border: none;
    border-radius: 6px;
    width: 70%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background: #56d5e4;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: whitesmoke;
    width: 100px;
}

main {
    padding: 30px 0;
    }
.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}    
.weather-app-data {
    display: flex;
    justify-content: space-between;    
}

.weather.app.details{
    font-size: 16px;
    line-height: 20px;
    
}
footer {

    padding: 30px 0 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: rgba (0, 0, 0, 0.6);
}