body {
    background-color: #fffbef;
}

.weather-app{
    background: whitesmoke;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65,50,100,0.08);
    border-radius: 16px;
    

}
.search-form-button {
    background: #56d5e4;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
}
